In [1]:
# Q.1
for i in range(1, 21):
    if i % 4 == 0:
        continue
    print(i)

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19

In [2]:
# Q.2
i = 1
while i <= 10:
    if i == 7:
        break
    print(i)
    i += 1

1
2
3
4
5
6

In [3]:
# Q.3
s = "PYTHON"
for ch in s:
    if ch in "AEIOU":
        continue
    print(ch)

P
Y
T
H
N

In [4]:
# Q.4
N = int(input("Enter N: "))
for i in range(1, N+1):
    for j in range(1, N+1):
        print(f"{i} x {j} = {i*j}")
    print()

Enter N:  4

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16

In [5]:
# Q.5
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
# Q.6 
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [2]:
# Q.7 
for i in range(1, 51):
    if i % 2 == 0 and i % 3 == 0:
        print(i, "Divisible by both")
    elif i % 2 == 0:
        print(i, "Divisible by 2")
    elif i % 3 == 0:
        print(i, "Divisible by 3")
    else:
        print(i)

1
2 Divisible by 2
3 Divisible by 3
4 Divisible by 2
5
6 Divisible by both
7
8 Divisible by 2
9 Divisible by 3
10 Divisible by 2
11
12 Divisible by both
13
14 Divisible by 2
15 Divisible by 3
16 Divisible by 2
17
18 Divisible by both
19
20 Divisible by 2
21 Divisible by 3
22 Divisible by 2
23
24 Divisible by both
25
26 Divisible by 2
27 Divisible by 3
28 Divisible by 2
29
30 Divisible by both
31
32 Divisible by 2
33 Divisible by 3
34 Divisible by 2
35
36 Divisible by both
37
38 Divisible by 2
39 Divisible by 3
40 Divisible by 2
41
42 Divisible by both
43
44 Divisible by 2
45 Divisible by 3
46 Divisible by 2
47
48 Divisible by both
49
50 Divisible by 2