In [1]:
#1
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers.remove(3)
print(2 in numbers)
print(numbers)

True
{1, 2, 4, 5, 6}

In [2]:
#2
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

print("Union:", set_a | set_b)
print("Intersection:", set_a & set_b)
print("Difference:", set_a - set_b)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

In [3]:
#3
student = {"name": "Alice", "age": 20, "grade": "A"}
print(student.keys())
print(student.values())

student["city"] = "Delhi"
student["age"] = 21
del student["grade"]

print(student)

dict_keys(['name', 'age', 'grade'])
dict_values(['Alice', 20, 'A'])
{'name': 'Alice', 'age': 21, 'city': 'Delhi'}

In [4]:
#4
keys = ['id', 'name', 'email']
values = [101, 'Bob', 'bob@example.com']

my_dict = dict(zip(keys, values))
print(my_dict)

{'id': 101, 'name': 'Bob', 'email': 'bob@example.com'}

In [5]:
#5
print(int("123"))
print(tuple([1, 2, 3]))
print(list((4, 5, 6)))
print(dict([(1, 'A'), (2, 'B')]))

123
(1, 2, 3)
[4, 5, 6]
{1: 'A', 2: 'B'}

In [6]:
#6
fruits = ["apple", "banana", "cherry"]
del fruits[1]
print(fruits)

['apple', 'cherry']